@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyCompany</h1>
    <h3>Офіційний сайт компанії</h3>
    <hr />
    <h4>... далі буде ...</h4>
    <div style="padding: 100px">
        Контент головної сторінки
    </div>
    <p>Створюйте сайти на ASP.NET Core <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
